GEMINI_API_KEY=AQ.Ab8Rxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OCI_BUCKET_NAME=nuevamente-contenidos-educativos
OCI_NAMESPACE=
OCI_REGION=
APP_ACCESS_CODE=
LLM_PROVEEDOR=ollama
OLLAMA_BASE_URL=https://xxxxxxxxxxxxxx.ngrok-free.dev
OLLAMA_MODEL=qwen2.5:7b
